*{
    margin: 0;
    box-sizing: border-box;
}

#collapsible-div{
    background: linear-gradient( to right, rgb(0, 208, 255), rgb(53, 53, 121));
    text-align: center; 
}

.smoke-title{
    position: relative;
    font-size: 3vw;
    user-select: none;
}

.smoke-title span{
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.smoke-title span.active{
    animation: smoke 1s linear forwards;
    transform-origin: bottom;
}

@keyframes smoke {
    0%{
        opacity: 1;
        filter: blur(0);
        transform: translateX(0) translateY(0) rotate(0deg);
    }
    50%{
        opacity: 1;
        pointer-events: none;
    }
    100%{
        opacity: 0;
        filter: blur(20px);
        transform: translate(300px) translateY(-300px) rotate(720deg) scale(4);
    }
}

#collapsible-div{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 0;
    opacity: 0.5;
    font-weight: bold;
}

#collapsible-div p{
    font-size: 15px;
}

ul{
    display: flex;
    justify-content: space-evenly;
}

ul li a{
    color: black;
    font-size: 17px;
    font-weight: bolder;
}
li a:active
{
    color: blue;
    text-decoration: line-through;
}

footer{
    color: black;
    text-align: center;
    background: linear-gradient( to right, rgb(0, 208, 255), rgb(53, 53, 121));
}

.main-div{
    overflow: hidden;
  
}

#about a button:hover{
    transform: scale(1.1);
}

#about h1{
    background-color: dodgerblue;
}

#about p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

#about{
    padding: 20px;
}

@media screen and (max-width: 700px){
    .main-div{
        flex-direction: column;
    }
    #collapsible-div, .sub-main{
        width: 100%;
    }
    #projects{
        flex-wrap: wrap;
    }
}

#about h2{
    color: black;
}

.span-div{
    display: flex;
    flex-wrap: wrap;
}

.span2{
    margin: 2px auto;
}

#education{
    padding: 15px;
}

#education h1{
    background-color: rgba(249, 165, 105, 0.86);
}

#education #para1{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Bachelor, .twelfth, .tenth{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.htm{
    width: 40%;
}

.htm .htm-progress{
    border: 1px solid rgba(10, 129, 129, 0.954);
}

.htm .htm-bar{
    width: 60%;
    height: 8px;
    background-color: rgba(10, 129, 129, 0.954);
}

.cs{
    width: 40%;
}

.cs .htm-bar{
    width: 50%;
    height: 8px;
    background-color: rgba(240, 161, 16, 0.954);
}

.cs .htm-progress{
    border: 1px solid rgba(240, 161, 16, 0.954);
}

.javas
{
    width: 40%;
}

.javas .htm-bar{
    width: 50%;
    height: 8px;
    background-color: rgba(200, 216, 13, 0.954);
}

.javas .htm-progress{
    border: 1px solid rgba(200, 216, 13, 0.954);
}

.java{
    width: 40%;
}

.java .htm-bar{
    width: 50%;
    height: 8px;
    background-color: rgba(13, 216, 13, 0.954);
}

.java .htm-progress{
    border: 1px solid rgba(13, 216, 13, 0.954);
}

.lang-div{
    display: flex;
    flex-wrap: wrap;
}

.lang{
    width: 50%;
}

.lang1{
    width: 50%;
}

html{
    scroll-behavior: smooth;
    transition: all 20s ease-in-out;
}

#weather button{
    font-size: 16px;
}

/* #projects p{
    border: 1px double darkgray;
    border-width: 5px;
} */

/* #projects #p2
{
    border: 1px double darkgray;
    border-width: 5px;   
} */

#projects{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
}

.proj1{
    width: 40%;
}

.proj2{
    width: 50%;
}

#ecommerce button{
    font-size: 16px;
}

#p1, #p2{
    color: white;
}

#weather button:hover{
    transition: all 1s ease-out;
    transform: scale(1.1);
}

#ecommerce button:hover{
    transition: all 1s ease-out;
    transform: scale(1.1);
}

#contact{
    padding: 10px;
}

.flip-box{
    background-color: transparent;
    width: 300px;
    height: 200px;
    /* border: 1px solid #bbb; */
    perspective: 1000px;
}

.flip-box-inner{
    position: relative;
}

.flip-box-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner{
    transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-box-front{
    /* background-color: #bbb; */
    color: black;
}

.flip-box-back{
    background-color: dodgerblue;
    color: wheat;
    transform: rotateY(180deg);
}

.btn-div{
    font-size: 26px;
}

.btn-div a{
    text-decoration: none;
}